* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    background-color: hsl(212, 45%, 89%);

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 40rem;
    margin: 1rem;
}

.heading-tertuary {
    font-size: 2.8rem;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.main-content {
    padding: 2.4rem 1.8rem;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

.content-text {
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 1.8rem;
    width: 90%;
    margin-bottom: 1.8rem;
}
